# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.env/
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Docker
*.log
*.pid
*.seed
*.pid.lock

claude_config.json.bkp